# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environnement virtuel
venv/
.venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Données brutes et traitées
data/raw/
data/processed/

# Logs
*.log

# Fichiers système
.DS_Store
.idea/
models/best_model.h5


# Fichiers de test d'image
tests/sample_image.jpg